/* ---------- GLOBAL/WHOLE PAGE ---------- */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

.page-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px repeat(6, 1fr);
  grid-auto-rows: 1fr;
  gap: 10px;
}

