@font-face {
  font-family: "inter";
  src: url("./fonts/Inter.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "montserrat";
  src: url("./fonts/Montserrat.woff2") format("woff2");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

/* ----------= GLOBAL/WHOLE PAGE =---------- */

:root {
  --header-bg: #000a0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  background-color: #000608;
}

.page-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 200px repeat(4, 1fr);
  grid-auto-rows: 100px;
  gap: 5px;
}

/* ----------= HEADER =---------- */

.page-header {
  grid-area: 1 / 2 / 1 / -1;

  padding: 0 15px;
  margin-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: 1fr 1fr;
  align-items: center;

  background-color: var(--header-bg);
  border-radius: 0 0 10px 10px;
}

.header-search {
  grid-area: 1 / 1 / 2 / 7;

  height: 40px;
  border-radius: 20px;

  background-color: #00121a;
  outline: 2px solid transparent;
  border: none;
  padding: 5px 15px;

  color: #cccfd0;
  font-family: "montserrat";
  font-size: 1.6rem;

  transition: all 0.3s;
}

.header-search:focus {
  background-color: #00151f;
  outline: 2px solid hsl(198, 100%, 9%);
}

.header-search::placeholder {
  color: #333e43;
}

.header-btn {
  margin-left: 15px;
  border: none;
  outline: 2px solid hsl(198, 100%, 9%);

  background-color: #00121a;
  width: 35px;
  height: 35px;
  border-radius: 50%;

  background-repeat: no-repeat;
  background-position: center;
  transition: all 0.25s;
}

.search {
  background-image: url("./icons/header/search-icon.svg");
}

.notification {
  background-image: url("./icons/header/notification-icon.svg");
}

.header-btn:hover {
  background-color: hsl(199, 100%, 7%);
}

.header-btn:active {
  background-color: hsl(199, 100%, 9%);
}

.header-profile-small {
  grid-area: 1 / 10 / 2 / 11;
  justify-self: center;

  width: 60px;
  height: 60px;
  border-radius: 50%;

  outline: 2px solid hsl(198, 100%, 9%);
}

.header-profile {
  grid-area: 2 / 1 / 3 / 2;
  justify-self: center;

  width: 85px;
  height: 85px;
  border-radius: 50%;
  outline: 3px solid hsl(198, 100%, 9%);
}

.header-user-greet {
  grid-area: 2 / 2 / 3 / 3;
  justify-self: center;

  font-family: "inter";
  color: #cccfd0;
  font-size: 3.2rem;
  letter-spacing: 1.7px;
}

.header-btn-big {
  font-family: "Montserrat";
  justify-self: center;

  padding: 12px 35px;

  background-color: #00151f;
  font-size: 2rem;
  font-weight: 500;
  color: #00628f;
  border: 3px solid #001924;
  border-radius: 15px;
  box-shadow: 0 4px 5px hsl(199, 100%, 8%);

  transition: all 0.25s;
}

.new {
  grid-area: 2 / 7 / 3 / 8;
}

.upload {
  grid-area: 2 / 8 / 3 / 9;
}

.share {
  grid-area: 2 / 9 / 3 / 10;
}

.header-btn-big:hover {
  background-color: hsl(199, 100%, 7%);
}

.header-btn-big:active {
  background-color: hsl(200, 100%, 8%);
}

/* ----------= ASIDE - DASHBOARD =---------- */

.page-dashboard {
  grid-area: 1 / 1 / -1 / 2;
  background-color: #00080c;

  display: grid;
  grid-template-rows: 200px repeat(3, 200px);
  justify-content: center;
}

.dash-title {
  padding-top: 50px;
  /* display: flex;
  justify-content: center; */
}

.dash-title-text {
  color: #cccfd0;
  font-family: montserrat;
  font-size: 4.8rem;
}

.dash-links {
  padding: 10px 35px;
  display: grid;
  grid-template-rows: min-content;
  gap: 30px;

  justify-content: center;
  height: min-content;
}

.dash-link {
  font-family: "inter";
  font-weight: 500;
  text-decoration: none;
  color: #cccfd0;
  font-size: 2.4rem;
  padding-left: 40px;
  padding-right: 5px;

  background-repeat: no-repeat;
  background-position: left;
  border-radius: 10px;

  outline: 2px solid transparent;
  transition: all 0.3s;
}

.dash-link:hover {
  outline: 2px solid hsl(197, 100%, 9%);
}

.home {
  background-image: url("./icons/dashboard/home-icon.svg");
}

.account {
  background-image: url("./icons/dashboard/account-icon.svg");
}

.event {
  background-image: url("./icons/dashboard/event-icon.svg");
}

.message {
  background-image: url("./icons/dashboard/message-icon.svg");
}

.friend {
  background-image: url("./icons/dashboard/friend-icon.svg");
}

.group {
  background-image: url("./icons/dashboard/group-icon.svg");
}

.settings {
  background-image: url("./icons/dashboard/settings-icon.svg");
}

.support {
  background-image: url("./icons/dashboard/support-icon.svg");
}

/* ----------= MAIN =---------- */

.page-main {
  margin: 0 10px;
  padding: 5px;
  grid-area: 2 / 2 / -1 / 6;
  outline: 3px solid transparent;
  border-radius: 15px;

  transition: all 0.3s;
}

.page-main:hover {
  outline: 3px solid hsl(197, 100%, 6%);
}

.main-title {
  font-family: "montserrat";
  color: #cccfd0;
  font-size: 3.2rem;
  letter-spacing: 2px;
  text-align: center;
}

.main-grid {
  margin: 20px 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 15px;
}

.main-grid-element {
  border-radius: 10px;
  padding: 15px 15px 20px 15px;
  background-color: hsl(197, 100%, 5%);
  color: #cccfd0;

  box-shadow: 5px 0 0 inset hsl(197, 100%, 9%);
}

.element-title {
  font-family: "montserrat";
  font-size: 2.4rem;
  margin-bottom: 15px;
}

.element-desc {
  padding-left: 10px;
  font-family: "inter";
  font-size: 1.6rem;
  color: hsl(195, 4%, 70%);
}

/* ----------= ARTICLE - ANNOUNCEMENTS =---------- */

.page-announcements {
  grid-area: 2 / 6 / 4 / 7;
  padding: 5px;
  margin-right: 5px;

  outline: 3px solid transparent;
  border-radius: 15px;

  transition: all 0.3s;
}

.page-announcements:hover {
  outline: 3px solid hsl(197, 100%, 6%);
}

.ann-title {
  font-family: "montserrat";
  color: #cccfd0;
  font-size: 2.4rem;
  text-align: center;
}

.ann-links {
  margin-top: 10px;
  /* padding: 10px; */
  background-color: hsl(197, 100%, 5%);
  border-radius: 10px;
}

.ann-link {
  padding: 15px;
}

.ann-link a:link,
.ann-link a:visited {
  color: #cccfd0;
  text-decoration: none;
  font-family: "inter";
  font-size: 2rem;

  transition: all 0.3s;
}

.ann-link a:hover,
.ann-link a:active {
  color: hsl(195, 4%, 65%);
  text-decoration: none;
  font-family: "inter";
  font-size: 2rem;
}

.ann-link p {
  color: hsl(195, 4%, 50%);
  font-family: "inter";
  font-size: 1.5rem;
  margin: 10px 5px;
}

.ann-divider {
  margin: 0 auto;
  width: 50%;
  height: 1px;
  background-color: #cccfd0;
}

/* ----------= ARTICLE - ANNOUNCEMENTS =---------- */

.page-trending {
  margin-top: 20px;
  grid-area: 4 / 6 / -1 / 7;
  padding: 5px;
  margin-right: 5px;

  outline: 3px solid transparent;
  border-radius: 15px;

  transition: all 0.3s;
}

.page-trending:hover {
  outline: 3px solid hsl(197, 100%, 6%);
}

.trending-title {
  font-family: "montserrat";
  color: #cccfd0;
  font-size: 2.4rem;
  text-align: center;
}

.trending-sect {
  margin-top: 10px;
  padding: 10px;
  background-color: hsl(197, 100%, 5%);
  border-radius: 10px;
}

.trending-prof {
  display: grid;
  grid-template-columns: min-content 1fr;
}

.prof-pic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #00628f;
}

.prof-name-text {
  font-family: "inter";
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.prof-name {
  color: #cccfd0;
  font-size: 1.6rem;
}

.prof-text {
  padding-left: 15px;
  color: hsl(195, 4%, 75%);
  font-size: 1.2rem;
}
