@font-face {
    font-family: 'Red Hat Text';
    src: url('RedHatText-Regular.woff2') format('woff2'),
        url('RedHatText-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

